<h1>Users#sign_up</h1>
<p>Find me in app/views/users/sign_up.html.erb</p>

<!-- <p>choose a user name: </p> -->

<input type="text" name="user_name" id ="user_name" size ="30" />

<p id = "put--check_if_user_name_already_exists--lookup--here"></p>

<p id = "results"></p>

<%= form_for(:session, url: users_sign_up_helper_path) do |f| %>

  <p>choose a user name: </p>
  <br>
  <%= f.text_field :user_name %>

  <%= f.label :password %>  (Display text?) <input type="checkbox" id="password-checkbox"  
  class="password-checkbox2" />
  <br>
  <%= f.password_field :password, :class => "zonker" %>

  <p>confirm password: </p>
  <br>
  <%= f.password_field :password, :class => "zonker" %>

<%= f.submit "Log in"%>

<% end %>

<!-- 

some potentially interesting links about json:

http://www.w3schools.com/json/json_http.asp
http://www.w3schools.com/json/json_example.asp
http://www.w3schools.com/json/json_files.asp 

-->



